include README.md
recursive-include octoprint_fortune/templates *
recursive-include octoprint_fortune/translations *
recursive-include octoprint_fortune/static *
recursive-include octoprint_fortune/fortunes *

