<button class="btn btn-link" data-bind="click: yourFortune, visible: settings.settings.plugins.fortune.show_navbar_button()">
    <a href="#"></a><i class="icon-book icon-black" tool-tip-toggle="tooltip" title="Your Fortune"></i></button>
